<h1>All my cocktails</h1>
<br>
<ul class="list-group list-group-flush">
  <% @cocktails.each do |cocktail| %>
    <li class="list-group-item"><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>
<br>
<%= link_to new_cocktail_path do %>
   <i class="fa fa-plus"></i> Add a cocktail
<% end %>
